body {
  width: 480px;
  font-family: 'Fondamento', cursive;
  margin: 60px auto;
}
header {
  height: 150px;
}
main {
  overflow: hidden;
  display:flex;
  flex-wrap: wrap;
}
section {
  width: 225px;
  height: 320px;
  display: inline-block;
  margin: auto 5px;
  overflow: hidden;
}
@media only screen and (min-width: 768px){
  body {
    width: 960px;

  }
}