body {
  width: 480px;
  font-family: 'Fondamento', cursive;
  margin: 60px auto;
}
header {
  height: 150px;
  padding-top: 40px;
}
main {
  overflow: hidden;
  display:flex;
  flex-wrap: wrap;
}
section {
  width: 225px;
  height: 320px;
  display: inline-block;
  margin: auto 5px;
  overflow: hidden;
}

@media only screen and (min-width: 768px){
  body {
    width: 768px;
    margin: auto;
  }
  main {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 320px auto;
  }
}
@media only screen and (min-width: 960px){
  body {
    width: 960px;
    margin: 10px auto;
  }
  main {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 320px auto;
  }
}